.OpenOptions{
    display: flex;
    flex-direction: column;
}
.CloseOptions{
    visibility: hidden;
}
#PassengerOption{
    position: absolute;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset, rgba(19, 41, 104, 0.2) 0px 16px 16px 0px;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
}
h3{
    margin: 0px;
}
.passengerNumberDisplay{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.PassengerOptionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    margin-bottom: 1rem;
    .underline{
        grid-column-start: span 2;
        height: 0.1rem;
        border-radius: 1rem;
        background-color: lightgrey;
        align-self: flex-end;
    }
}
#TripOption{
    width: 30vw;
    height: 5rem;
    margin-top: 1.5rem;
    position: absolute;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset, rgba(19, 41, 104, 0.2) 0px 16px 16px 0px;
    background-color: white;
}
@media screen and (min-width: 768px) {
    #TripOption{
        width: 18vw;
        margin-top: 0;
    }
}