.SearchDeparture, .SearchDestination{
    display: flex;
    background-color: #f1f2f6;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 75vw;
    margin-top: 0.5rem;
    .Circle{
        height: 3vw;
        width: 3vw;
        border-radius: 50rem;
        border: 3px solid #a1a9c3;
        align-self: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .fa-location-dot{
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: #a1a9c3;
        align-self: center;
    }
    .departureInput, .destinationInput{
        width: 70vw;
        background-color: #f1f2f6;
        border: none;
        border-radius: 0.5rem;
        color: #132968
    }
}
@media screen and (min-width: 768px) {
    .SearchDeparture, .SearchDestination{
        width: 23vw;
        margin: 0 0.2rem;
        .Circle{
            height: 0.5vw;
            width: 2vw;
            border: 5px solid #a1a9c3;
        }
    }
}